{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry", // "usage" or "entry"
                "corejs": 3,
                "ignoreBrowserslistConfig": false
            }
        ]
    ]
}