@import './theme/variables';
@import './theme/utils/reset';
@import './theme/utils/layout';
@import './theme/utils/typography';

@import './theme/components/cards';
@import './theme/components/header';
@import './theme/components/items';

html {
    font-family: $font-base;
    font-size: 100%;
}

body {
    background-color: $background;
    color: $text-color;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: normal;
    margin: 0;
}

.error {
    text-align: center;
}