@import './theme/variables';
@import './theme/reset';
@import './theme/layout';
@import './theme/typography';

html {
    font-family: $font-base;
    font-size: 100%;
}

body {
    background-color: $background;
    color: $text-color;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    margin: 0;
}
