main {
    display: block;
    margin: auto;
    max-width: 840px;
}
.container {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 $gutter/2 $gutter;

    &.listview {
        flex-direction: column;
    }
}