h1 {
    font-size: $h1-size;
    font-weight: bold;
    line-height: 43px;
}
h2 {
    font-size: $h2-size;
    line-height: 22px;
}
h3 {
    font-size: $h3-size;
    font-weight: bold;
}

a {
    color: $black;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}