.item {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-bottom: $gutter;
    &:last-child {
        margin-bottom: 0;
    }
    p {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }   
    span {
        color: $grey;
        margin-right: 23px;
        opacity: .63;
    }
}